.section {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  max-width: 720px;
  height: 328px;
  padding: 0 48px 0 334px;
  color: #fff;
  background:
    linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 50%)),
    url("/images/watch-banner.png");
  background-size: cover;
}

.content {
  max-width: 600px;
}

.shop-button {
  padding: 12px 32px;
  font-size: 1.1rem;
  color: white;
  cursor: pointer;
  background: #0071e3;
  border: none;
  border-radius: 25px;
}

.image {
  width: 50%;
  max-width: 720px;
}
