.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 16px;
  padding: 4rem 5%;
}

@media (width <= 768px) {
  .product-list {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

@media (width <= 480px) {
  .product-list {
    grid-template-columns: 1fr;
  }
}
