.catalog-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.catalog-container h1 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #333;
  text-transform: capitalize;
}

.filters {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
}

.filter-select {
  width: 100%;
  max-width: 190px;
  padding: 8px;
  margin: 8px 0;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: border-color 0.3s ease;
}

.filter-select:focus {
  border-color: var(--accent-color);
}

.product-card {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  transition: transform 0.3s ease;
}

.product-card:hover {
  box-shadow: 0 8px 16px rgb(0 0 0 / 15%);
  transform: translateY(-5px);
}

.product-image {
  height: 200px;
  margin-top: 15px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.product-image:hover {
  transform: scale(1.05);
}

.product-details {
  padding: 16px;
  text-align: center;
}

.product-price {
  margin-bottom: 12px;
  font-weight: bold;
  line-height: 1.2;
}

.buy-button {
  padding: 12px 64px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  background: #000;
  border-radius: 8px;
}

.buy-button:hover {
  box-shadow: 0 8px 16px rgb(0 0 0 / 15%);
  transform: translateY(-5px);
}
