.catalog-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f7f7f7;
}

.catalog-container h1 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #333;
  text-transform: capitalize;
}

.filters {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
}

.filter-select {
  width: 100%;
  max-width: 300px;
  padding: 8px;
  margin: 8px 0;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: var(--border-radius);
  transition: border-color 0.3s ease;
}

.filter-select:focus {
  border-color: var(--accent-color);
}

.product-card {
  overflow: hidden;
  background-color: white;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.product-card:hover {
  box-shadow: 0 8px 16px rgb(0 0 0 / 15%);
  transform: translateY(-5px);
}

.product-image {
  height: 250px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.product-image:hover {
  transform: scale(1.05);
}

.product-details {
  padding: 16px;
  text-align: center;
  background-color: #f9f9f9;
}

.product-title {
  margin-bottom: 8px;
  overflow: hidden;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
  color: #333;
  text-overflow: ellipsis;
  text-transform: capitalize;
  white-space: nowrap;
}

.product-price {
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2;
  color: var(--accent-color);
}

.buy-button {
  flex: 1;
  gap: 8px;
  padding: 12px 64px;
  color: white;
  background: #000;
  border-radius: 8px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center;
  width: 100%;
  margin-top: 20px;
}

.pagination {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  padding: 8px 16px;
  margin: 0 5px;
  color: white;
  cursor: pointer;
  background-color: var(--accent-color);
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
